@font-face {
    font-family: "SegoeUI";
    src: url("SegoeUI.woff") format("woff");
}

body {
    font-family: "SegoeUI", sans-serif;
    background-image: url("main-bg.jpg");
}

.inputWrapper {
    display: inline-block;
    margin: 10px;
}